@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import './fonts';

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

html {
    --bg-1: #FEFEFE;
    --bg-2: #F9F9F9;
    --color: #333333;
    --sub-color: #FAFAFA;
    --shadow: 0.25;
    --img-filter: invert(0) contrast(1);
}

html[data-theme="dark"] {
    --bg-1: #333333;
    --bg-2: #393939;
    --color: #FEFEFE;
    --sub-color: #4F4F4F;
    --shadow: 0.5;
    --img-filter: invert(1) contrast(2);
}

body {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: var(--color);

    box-sizing: border-box;
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {

    padding: 10px 0;
    background-color: var(--bg-1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, var(--shadow));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.logo {

    filter: var(--img-filter);

}

.header__btn-menu {
    z-index: 100;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s;

    &:focus {
        outline: none;
    }

    & span {
        transition: all 0.3s;
        display: block;
        position: absolute;
        top: 23px;
        height: 5px;
        width: 50px;
        background: var(--color);
        border-radius: 5px;
    }

    & span::before,
    & span::after {
        transition: all 0.3s;
        position: absolute;
        display: block;
        width: 50px;
        height: 5px;
        background-color: var(--color);
        border-radius: 5px;
        content: "";
    }

    & span::before {
        top: -11px;
    }

    & span::after {
        bottom: -11px;
        width: 35px;
    }
}

.header__btn-menu--active {
    
    & span {
      background: transparent;
      width: 0;
    }

    & span::before,
    & span::after {
        transition: all 0.3s;
    }

    & span::before {
        top: 0;
        transform: rotate(45deg);
    }

    & span::after {
        width: 50px;
        bottom: 0;
        transform: rotate(-45deg);
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-1);

    transform: translateY(-100%);
    transition: transform 0.3s;
    list-style: none;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--active {
        transform: translateY(0);
    }


    &__item+&__item {
        margin-top: 5px;
    }

    &__link {
        display: block;
        text-align: center;
        text-decoration: none;
        color: var(--color);
        font-size: 24px;
        font-weight: 300;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__link--btn {
        background-color: var(--color);
        color: var(--bg-1);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, var(--shadow));
        padding: 5px 10px;
        border-radius: 3px;
        transition: all .3s;
    }

    &__link--btn:hover {
        text-decoration: none;
        background-color: var(--bg-1);
        color: var(--color);
    }

}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 34px;
        background-color: #fafafa;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        transition: .4s;
    }

    &__slider::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 3px;
        background-color: #333333;
        box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        transition: .4s;
    }

    &__checkbox:checked+&__slider {
        background-color: #4F4F4F;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__checkbox:checked+&__slider::before {
        background-color: #fefefe;
        box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    &__checkbox:checked+&__slider:before {
        transform: translateX(20px);
    }

}

.intro {

    padding-top: 70px;

    background-color: var(--bg-1);

    &__inner {
        display: flex;
        position: relative;
        min-height: 720px;
    }

    &__descr {
        margin-top: 105px;
    }

    &__header {
        font-weight: bold;
        font-size: 86px;
        color: var(--color);
        border-bottom: 3px solid var(--color);

        margin-bottom: 25px;
        max-width: 675px;
        display: flex;
        align-items: flex-end;
    }

    &__header-num {
        font-size: 124px;
        line-height: 148px;
        margin-right: 25px;
        color: var(--color);
    }

    &__header-title {
        display: block;
        line-height: 124px;
        color: var(--color);
    }

    &__main {
        max-width: 540px;
    }

    &__name {
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        color: var(--color);
    }

    &__spec {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--color);
        margin-bottom: 25px;
    }

    &__text {
        font-size: 20px;
        line-height: 27px;
        text-align: justify;
        color: var(--color);
    }

    &__text+&__text {
        margin-top: 15px;
    }

    &__photo {
        max-width: 700px;
        max-height: 700px;
        width: 100%;
        object-fit: contain;
        position: absolute;
        right: -55px;
        bottom: 0;
        transition: all .3s;
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, var(--shadow))) saturate(0) brightness(2) contrast(1);
    }

}

.section {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        font-weight: 700;

        border-bottom: 3px solid var(--color);
        margin: 60px 0 60px 0;
    }

    &__header-num {
        font-size: 124px;
        line-height: 148px;
        color: var(--color);
    }

    &__header-title {
        font-size: 86px;
        line-height: 124px;
        color: var(--color);
    }

}

.skills {

    padding-top: 70px;

    background-color: var(--bg-2);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 60px;
    }

    &__item {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__img {
        filter: var(--img-filter);
        margin-bottom: 10px;
    }

    &__text {
        color: var(--color);
    }

}

.projects {

    padding-top: 70px;

    background-color: var(--bg-1);

    &__inner {
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        column-gap: 5%;
        margin-bottom: 60px;
    }

    &__item {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    &__item-img {
        width: 100%;
        filter: saturate(0);
        transition: all 0.4s;
    }

    &__item:hover &__item-img {
        filter: saturate(100%);
    }

    &__item &__item-overlay {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 25%, rgba(255, 255, 255, 0));
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
        transition: all 0.4s ease-in-out 0s;
    }

    &__item:hover &__item-overlay {
        opacity: 1;
    }

    &__item-descr {
        position: absolute;
        width: 100%;
        bottom: -80%;
        z-index: 2;
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
    }

    &__item:hover &__item-descr {
        opacity: 1;
        bottom: 25px;
    }

    &__item-type,
    &__item-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        color: #FEFEFE;
    }

    &__item-name {
        font-weight: 300;
        text-transform: lowercase;
    }

    &__item-arrow {
        display: block;
    }

}

.contacts {

    padding-top: 70px;

    background-color: var(--bg-2);

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__form,
    &__info {
        max-width: 468px;
        width: 100%;
    }

    &__name,
    &__email {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--color);
        transition: all .3s;
        display: block;
        margin-bottom: 15px;
        padding: 5px 10px;
        width: 100%;

        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: var(--color);
        outline: none;

        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            color: rgba(var(--color), 0.5);
            text-transform: lowercase;
        }

        &:focus {
            border-radius: 5px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, var(--shadow));
            border: 1px solid var(--color);
        }

    }

    &__textarea {
        background-color: transparent;
        border: 1px solid var(--color);
        transition: all .3s;
        display: block;
        margin-bottom: 15px;
        padding: 5px 10px;
        width: 100%;

        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: var(--color);
        outline: none;
        resize: none;

        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            color: rgba(var(--color), 0.5);
            text-transform: lowercase;
        }

        &:focus {
            border-radius: 5px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, var(--shadow));
            border: 1px solid var(--color);
        }
    }

    &__submit {
        display: block;
        margin-left: auto;
        padding-right: 60px;
        position: relative;

        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: var(--color);
        border: none;
        background-color: transparent;

        transform: translateX(0px);
        transition: all .3s;

        &::after {
            content: url(../images/svg/arrow.svg);
            filter: var(--img-filter);
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        &:hover {
            transform: translateX(5px);
        }
    }

    &__info {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        text-align: justify;
    }

    &__info-text {
        margin-bottom: 95px;
        color: var(--color);
    }

    &__social-title {
        margin-bottom: 15px;
        color: var(--color);
    }

    &__social-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social-link {
        text-decoration: none;
    }

    &__social-img {
        filter: var(--img-filter);
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

}

.footer {

    background-color: #222;
    padding: 32px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .logo {
        filter: invert(1) contrast(2);
    }

    &__copy {
        font-weight: 300;
        font-size: 16px;
        color: #FEFEFE;
    }

}

@import './media';